<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h4 class="text-white mb-4">Fastqash Agencies</h4>
                <p>Building financial freedom through community and innovation. Join thousands of satisfied members across Africa.</p>
                <div class="mt-3">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h4 class="text-white mb-4">Quick Links</h4>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="/">Home</a></li>
                            <li class="mb-2"><a href="/legitimacy">Legitimacy</a></li>
                            <li class="mb-2"><a href="/register">How to Register</a></li>
                            <li class="mb-2"><a href="/gallery">Gallery</a></li>
                            <li class="mb-2"><a href="/blog">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="/how-it-works">How It Works</a></li>
                            <li class="mb-2"><a href="/contacts">Contacts</a></li>
                            <li class="mb-2"><a href="/terms">Terms of Service</a></li>
                            <li class="mb-2"><a href="/privacy-policy">Privacy Policy</a></li>
                            <li class="mb-2"><a href="/faqs">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h4 class="text-white mb-4">Contact Us</h4>
                <p><i class="fas fa-map-marker-alt me-2"></i> Sifa Towers, Nairobi </p>
                <p><i class="fas fa-phone me-2"></i> +254 742 381 320</p>
                <p><i class="fas fa-envelope me-2"></i> info@fasqash.net</p>
            </div>
        </div>
        <hr class="my-4 bg-light">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Fastqash Agencies. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">
                    <a href="/privacy-policy" class="text-white">Privacy Policy</a> | 
                    <a href="/terms" class="text-white">Terms of Service</a>
                </p>
            </div>
        </div>
    </div>
</footer>
